<app-header></app-header>
<main>
  <section>
    <button class="btn-green" (click)="goToNewAddress()">Adicionar novo</button>
    <div *ngFor="let item of address">
      <div class="card">
        <p>{{item.street}}, {{item.number}}, {{item.zip_code}}, {{item.district}}, {{item.city}} - {{item.state}}</p>
        <div class="card-footer">
          <button class="btn-transparent" (click)="goToEditAddress(item.id)">
            <img src="../../../assets/images/Purchase/Edit.svg" />
          </button>
          <button class="btn-transparent" (click)="delete(item.id)">
            <img src="../../../assets/images/Purchase/Delete.svg" />
          </button>
        </div>
      </div>
    </div>
  </section>
</main>
