<app-header></app-header>
<main>
  <section>
    <div class="card" routerLink="/editar-perfil/123">
      <p>Rua Campos do Jordão, 125, Vila Virginia, Itaquaquecetuba - SP</p>
      <div class="card-footer">
        <button class="btn-transparent">
          <img src="../../../assets/images/Purchase/Edit.svg"/>
        </button>
        <button class="btn-transparent">
          <img src="../../../assets/images/Purchase/Delete.svg"/>
        </button>
      </div>
    </div>
  </section>
</main>
