nav{
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem;
  background-color: #F8F8F8;
  box-shadow: 4px 4px 12px rgba(150, 149, 222, 0.2);
}

.links{
  display: flex;
  align-items: center;
  justify-content: center;
}

li{
  list-style: none;
  margin-left: 2rem;
  color: #1e1e1e;
  font-weight: 500;
}

.avatarDefault{
  width: 2.5rem;
  height: 2.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 100px;

  color: #FFF;
  background: #1ED760;

  transition: .4s;
  cursor: pointer;
}

.avatarDefault:hover{
  background-color: #4be07f;
}
