nav{
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem;
  background-color: #F8F8F8;
  box-shadow: 4px 4px 12px rgba(150, 149, 222, 0.2);
}

.links{
  display: flex;
  align-items: center;
  justify-content: center;
}

li{
  list-style: none;
  margin-right: 2rem;
}
