<nav>
  <a class="brand" routerLink="/home">
    <img src="../../../assets/images/Header/Logotipo.svg" />
  </a>
  <ul class="links">
    <li>
      <a routerLink="/carrinho">Carrinho</a>
    </li>
    <li>
      <p (click)="goTo('minhas-compras')">Minhas compras</p>
    </li>
    <li>
      <div class="avatarDefault" *ngIf="avatarDefault" (click)="goTo('perfil')">{{avatarDefault}}</div>
    </li>
    <li>
      <a routerLink="/login" *ngIf="!avatarDefault">Entrar</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
