<app-header></app-header>
<main>
    <h2>Devolução</h2>
  <section>
    <form>
      <div class="form-group">
        <label for="motivation">Diga-nos o motivo</label>
        <select name="motivation" id="motivation">
          <option value="1">Não condizente com o anúncio</option>
          <option value="2">Peça com defeito</option>
          <option value="3">Entrega errada</option>
          <option value="4">Outros, inclua nas observações</option>
        </select>
      </div>
      <div class="form-group">
        <label for="comments">Observações</label>
        <textarea name="comments" id="" cols="30" rows="10"></textarea>
      </div>
      <div class="form-group">
        <input type="file"/>
      </div>
      <input type="submit" value="Finalizar">
    </form>
  </section>
</main>
