<app-header></app-header>
<main>
  <app-messages [message]="message"></app-messages>
  <section>
    <img src={{product.image}} alt="Produto" class="image-product">
    <div class="card-body">
      <div class="row">
        <p class="title">{{product.name}}</p>
        <p class="price">R$ {{product.price}}</p>
      </div>
      <p class="legend">Tamanho único</p>
      <div class="row">
        <button class="btn-green" (click)="addCart(product.id)">Comprar</button>
      </div>
    </div>
  </section>
</main>
