<app-header></app-header>
<main>
  <section>
    <div class="card-container" [class.hide]="item > 2" *ngFor="let item of products">
      <img src='../../../assets/images/Products/Product-default.png' *ngIf="!item.image" alt={{item.name}}
        class="card-image" />
      <img src={{item.image}} *ngIf="item.image" alt={{item.name}} class="card-image" />
      <div class="card-body">
        <p class="title">{{item.name}}</p>
        <div class="row">
          <p class="price">R$ {{item.price}}</p>
          <button class="btn-transparent" (click)="addCart(item.id, item)">Carrinho</button>
          <button class="btn-transparent" (click)="goTo(item.id)">Comprar</button>
        </div>
      </div>
    </div>

  </section>
</main>
