<app-header></app-header>
<main>
  <div class="row">
    <h2>Carrinho</h2>
  </div>
  <br>
  <div>
    <p *ngIf="quantity === 0 ">Nenhum item adicionado</p>
    <p *ngIf="quantity > 1">{{quantity}} itens adicionados</p>
    <p *ngIf="quantity === 1">{{quantity}} item adicionado</p>
  </div>
  <section *ngIf="quantity >= 1">
    <div class="card" *ngFor="let item of itemsCart">
      <img src={{item.image}} alt="" class="image-product" *ngIf="item.image">
      <img src='../../../assets/images/Products/Product-default.png' alt="" style="object-fit: cover;"
        class="image-product" *ngIf="!item.image">
      <div>
        <p class="title">{{item.name}}</p>
        <div class="row">
          <div class="legend">{{item.price * item.quantity | currency: 'BRL'}}</div>
          <p class="legend" *ngIf="item.quantity === 0 ">0</p>
          <p class="legend" *ngIf="item.quantity > 1">{{item.quantity}} itens adicionados</p>
          <p class="legend" *ngIf="item.quantity === 1">{{item.quantity}} item adicionado</p>
          <!-- <div >{{quantity}} unidade</div> -->
        </div>
      </div>
      <div>

        <div>
          <button class="btn-cart" *ngIf="item.quantity > 0" (click)="sub(item)">-</button>
          <button class="btn-cart" *ngIf="item.quantity <= 0">-</button>
          <p class="quantity">{{item.quantity}}</p>
          <button class="btn-cart" (click)="sum(item)">+</button>
        </div>
        <button class="btn-transparent" style="display: block; margin: 0 auto;" (click)="removeItem(item.id)">
          <img src="../../../assets/images/Purchase/Remove.svg" />
        </button>
      </div>
    </div>
    <button class="btn-green" style="btn-float" (click)="purchase()">Comprar {{totalPrice | currency: 'BRL'}}</button>
  </section>

</main>
